<!doctype html>
<html style="height: 100%;">
<head>
  <title>Emos - emogallery</title>
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Emos" />
  <meta property="og:image" content="/images/ogp.png" />
  <meta property="og:image:width" content="256" />
  <meta property="og:image:height" content="256" />
  <meta property="og:description" content="Emotional graphics" />
  <meta property="og:url" content="https://emogallery.netlify.com/" />
</head>
<body style="height: 100%;">
  <div style='max-width:620px; margin: 0px auto; padding: 50px; height: 100%; border-left: solid 1px; border-right: solid 1px;'>
    <h1> Emos </h1>
    <div>
      <ul>
        <% emo_names.each do |emo_name| %>
          <li><a href='/gallery/<%= emo_name %>.html'><%= emo_name %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
</body>
</html>